

<p id="notice"><%= notice %></p>

<!-- <h1>Restaurants</h1> -->

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each_with_index do |restaurant, index| %>
      <tr>
        <td><%= index + 1 %>.&nbsp;</td>
        <td><%= restaurant.name %>
        <td><%= link_to 'Show', restaurant, class:"btn btn-success btn-sm" %>|</td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class:"btn btn-primary btn-sm" %>|</td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Menu', new_menu_path, class:"btn btn-success btn-sm" %> |

<%= link_to 'New Restaurant', new_restaurant_path, :class => "btn btn-info btn-sm" %>
