<p id="notice"><%= notice %></p>

<h3>Name Of Restaurant</h3>
<%= @restaurant.name %>


<%= link_to 'Edit', edit_restaurant_path(@restaurant), class:"btn btn-primary btn-sm" %> |
<%= link_to 'Back', restaurants_path, class:"btn btn-info btn-sm" %><br><br>


<h3> Menu </h3>
<% @menu.each_with_index do |menus, index| %>
	<p>
	  <strong>S.No.:</strong>
			<%= index + 1 %>
	<!-- </p>
	<p>	 -->
	<strong>Name </strong>
	<%= menus.name %>
	<!-- </p>

	<p> -->
	<strong>Price</strong>
	<%= menus.price %>
	<!-- </p>

	<p> -->
	<strong>Quantity</strong>
	<%= menus.quantity %>
	<%= link_to 'Place Order', order_myorder_path, class:"btn btn-success btn-sm" %>
	</p>
	
	
<% end %>
